/* global values */

html{
  min-height: 100%;
  height: 80%;
}

html, .btn {
  font-size: 9px;
}

body {
  background-color: #FFC25A;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* containers */

.container {
  font-family: monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 8%;
}

.pop-up-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.nav {
  background-color: #262730;
  border: 3px solid #262730;
  border-radius: 30px;
  margin: 0.5em 0;
  width: 110%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* button styles */

.btn {
  background-color: #262730;
  border: none;
  color: #FFF9F0;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  outline: none;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 25%;
  vertical-align: text-bottom;
  backface-visibility: hidden;
}

.btn:first-child {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.btn:last-child {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

/* pop up event styles */

.popMore, .popAbout, .popContact {
  border-radius: 0.777rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* popMore */

.popMore {
  background-color: #34698A;
  color: #FFFD78;
  padding: 0.5rem 0.75rem;
  text-align: center;
  width: fit-content;
  bottom: -9.5em;
  left: 10.5em;
}

.popMore::before {
  border: 1rem solid;
  border-color: transparent transparent #34698A transparent;
  content: "";
  position: absolute;
  top: -1.94em;
  left: 2.9em;
}

/* popAbout */

.about {
  color: black;
  margin-bottom: 1.5em;
  text-align: center;
  transition: color 0.3s ease-in;
}


.popAbout {
  display: block;
  content: "";
  background-color: #1C334D;
  height: 76.5%;
  width: 106%;
  position: relative;
  left: -1.2em;
  z-index: -1;
}

.popAbout::after {
  border: 1rem solid;
  border-color: #1C334D transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: -1.9em;
  right: 13.9em;
}

/* popContact */

.popContact {
  background-color: #B8DAFF;
  color: #477CB5;
  padding: 0.5rem 0.75rem;
  width: fit-content;
  right: -3.3em;
  bottom: 4.8em;
  /* remove in future */
  text-align: center;
}

.popContact a {
  text-decoration: none;
  color: #FF4738;
}

.popContact::after {
  border: 1rem solid;
  border-color: #B8DAFF transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: -1.9em;
  right: 4.3em;
}

/* animations */

.active {
  animation: fade-in 0.3s forwards;
}

.inactive {
  animation: fade-out 6s forwards;
}

.about-color {
  color: #FFF9F0;
}

.show-message{
  animation: message 2s ease-in-out infinite;
  border-bottom: 2px solid red;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  /* 99% {visibility: hidden;} */
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes message {
  from { 
    color: inherit;
  }
  50%{ 
    color: red;
  }
  to {
    color: inherit;
  }
}

/* media query */

@media screen and (max-width: 400px) {
  .container {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  html, .btn {
    font-size: 12px;
  }
}

@media screen and (min-width: 900px) {
  html, .btn {
    font-size: 18px;
  }
}
