/* * { padding: 0; margin: 0; } */

html{
  min-height: 100%;
  height: 100%;
}

body {
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  text-align: center;
}

.nav {
  margin-top: 2rem;
  position: relative;
  border: 1px solid pink;
  display: flex;
  justify-content: space-evenly;
}

.nav button {
  width: 25%;
}

.event-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.popMore {
  /* background-color: #6FB07F; */
  /* background-color: #001542; */
  /* background-color: #00ffff; */
  background-color: #005858;
  text-align: center;
  color: #DEB887;
  /* left: 15%; */
  right: 28%;
  padding: 0.5rem 0.75rem;
}

.popMore::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 18%;
  border: 1rem solid;
  /* border-color: transparent transparent gold transparent; */
  border-color: transparent transparent #005858 transparent;
}

.about {
  color: black;
  transition: color 0.5s ease-in;
}

.popAbout {
  background-color: #001542;
  left: -3%;
  width: 106%;
  height: 105%;
  z-index: -1;
}

.popAbout::after {
  content: "";
  position: absolute;
  bottom: -10%;
  border: 1rem solid;
  border-color: cornflowerblue transparent transparent transparent;
}

.popContact {
  color: black;
  text-align: start;
  /* background-color: #d3af37; */
  /* background-color: #ff9f1c; */
  background-color: #FFC233;
  width: 160%;
  left: -30%;
  bottom: 225%;
  padding: 0.5rem 0.75rem;
}

.popContact::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 0.5rem solid;
  border-color: #FFC233 transparent transparent transparent;
}

.popMore, .popAbout, .popContact {
  position: absolute;
  /* -moz-border-radius: 0.777rem;
  -webkit-border-radius: 0.777rem; */
  border-radius: 0.777rem;
  visibility: hidden;
  opacity: 0;
  /* -moz-transition: visibility 0.3s, opacity 0.3s ease-in; */
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.active {
  visibility: visible;
  opacity: 1;
}

.aboutt {
  /* color: white; */
  color: #FFECBE;

  /* color: black; */
}

.foo{
  animation: foo 1.5s ease-in-out forwards;
}

@keyframes foo {
  from { 
    color: inherit;
  }
  50%{ 
    color: red;
  }
  to {
    color: inherit;
  }
}

html,button {
  font-size: 16px;
  /* font-size: 9px; */
}